body {
  margin: 0;
  font-family: Open-sans, sans-serif;
}
h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 0;
}
.padded {
  padding: 100px 0;
}
.wrapper-grey {
  background: #F4F4F4;
}

/*Features*/

.features i {
  font-size: 60px;
}
.features h2 {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.features p {
  font-size: 15px;
  font-weight: lighter;
}

/* line 1, /Users/boris/code/lewagon/middleman-airbnb/source/stylesheets/components/_header.scss */
.header-flat {
  border: 1px solid #dce0e0; }

/* line 4, /Users/boris/code/lewagon/middleman-airbnb/source/stylesheets/components/_header.scss */
.header-flat-details {
  display: flex;
  align-items: center;
  padding: 30px;
  padding-left: 0; }

/* line 10, /Users/boris/code/lewagon/middleman-airbnb/source/stylesheets/components/_header.scss */
.header-flat p {
  font-weight: normal;
  font-size: 14px;
  color: #777777; }

/* line 15, /Users/boris/code/lewagon/middleman-airbnb/source/stylesheets/components/_header.scss */
.header-flat h1 {
  font-size: 18px;
  margin-top: 0; }

/* line 19, /Users/boris/code/lewagon/middleman-airbnb/source/stylesheets/components/_header.scss */
.header-flat-owner {
  padding: 20px; }

/* line 22, /Users/boris/code/lewagon/middleman-airbnb/source/stylesheets/components/_header.scss */
.header-flat form {
  margin: 20px 0;
  margin-right: 0;
  background: #F4F4F4;
  padding: 15px;
  border-radius: 3px; }

/* line 1, /Users/boris/code/lewagon/middleman-airbnb/source/stylesheets/pages/_flat.scss */
#flat-description {
  background: #F5F5F5;
  padding: 50px 0;
  padding-bottom: 100px;
  font-size: 14px;
  color: #555555; }

/* line 8, /Users/boris/code/lewagon/middleman-airbnb/source/stylesheets/pages/_flat.scss */
#flat-description h2 {
  font-size: 18px;
  color: #333333; }

/* line 12, /Users/boris/code/lewagon/middleman-airbnb/source/stylesheets/pages/_flat.scss */
#flat-data {
  font-weight: normal;
  font-size: 12px;
  color: #797373; }

#flat-data strong {
  margin-left: 20px; }


#flat-data i {
  font-size: 20px;
  color: #9B9B9B;
  width: 20px;
  text-align: center; }

#flat-data li {
  display: flex;
  align-items: center;
  margin-bottom: 3px; }

#flat-data i {
  font-size: 2.2em;
}



/*Footer*/
.footer {
  background: #212121;
  padding: 30px 0;
  color: #CCCCCC;
}
.footer i {
  font-size: 20px;
  color: #CCCCCC;
}
.footer p {
  margin-top: 17px;
}
.footer ul {
  margin-top: 10px;
}
