/* Banner design */
$red: #D23333;
$blue: #5E74ED;

.bg-container {
  height: 100vh;
  color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bg-banner {
  background: linear-gradient(-225deg, rgba(1,1,1,0.7) 0%, rgba(20,20,20,0.7) 50%), url("../../images/background.jpg");
  background-size: cover;
}

.headline {
  font-size:50px;
  font-weight: 700;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.sub-headline {
  font-size: 25px;
  font-weight: 300;
}

.btn-primary {
  color: white;
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  font-weight: 300;
  font-size: 20px;
  background: $red;
  transition: background 0.3s ease;
  &:hover {
    color: $blue;
    text-decoration: none;
    color: white;
  }
}
