<!-- Your footer code -->
<div class="footer text-center">
  <ul class="list-inline">
    <li><a href=""><i class="socicon-youtube"></i></a></li>
    <li><a href=""><i class="socicon-instagram"></i></a></li>
    <li><a href=""><i class="socicon-facebook"></i></a></li>
    <li><a href=""><i class="socicon-twitter"></i></a></li>
  </ul>
  <p>This is a Airbnb Home challenge @ LeWagon</p>
</div>
